@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: Arial, Helvetica, sans-serif;


    .my-btn {
        padding: 10px 25px;
        border-radius: 25px;
        color: white;
        border: 0;
    }
}